[client]
#Controls whether the keystore is encrypted
encrypt_keystore = false
data_dir = "{{ forest.container.data_path }}"
enable_rpc = {{ forest.rpc.enabled | lower }}
enable_metrics_endpoint = {{ forest.metrics.enabled | lower }}
metrics_address = "127.0.0.1:{{ forest.metrics.port }}"
rpc_address = "0.0.0.0:{{ forest.rpc.port }}"

[network]
listening_multiaddrs = ["/ip4/0.0.0.0/tcp/34000"]
#Kademlia option enforce p2p connections.
kademlia = true
#Amount of peers the node should maintain a connection with
#Helps in syncing (moderate value to not be exceeded)
target_peer_count = {{ forest.target_peer_count }}
