#!/usr/bin/env bash

set -euo pipefail

forest \
  --chain "{{ network }}" \
  --auto-download-snapshot  \
  --no-gc \
  --save-token {{ forest.container.data_path }}/token \
  --config "{{ forest.container.config_path }}/config.toml"
