#!/usr/bin/env bash

set -euo pipefail

if [[ "{{ forest.libp2p.private_key }}" != "" ]]; then
    forest_libp2p_path="{{ forest.container.data_path }}/libp2p"

    mkdir -p "${forest_libp2p_path}"
    chmod 0750 "${forest_libp2p_path}"
    forest-tool shed key-pair-from-private-key \
      --output "${forest_libp2p_path}/keypair" \
      "{{ forest.libp2p.private_key }}"
fi

forest \
  {{ forest.container_extra_args | join(' ') }} \
  --chain "{{ forest.network }}" \
  --auto-download-snapshot  \
  --save-token {{ forest.container.data_path }}/token \
  --config "{{ forest.container.config_path }}/config.toml"
