#!/usr/bin/env bash

set -euo pipefail

forest_libp2p_path=/home/forest/forest_data/libp2p

if [[ "{{ forest.import_libp2p_private_key | lower }}" = "true" ]]; then
    mkdir -p "${forest_libp2p_path}"
    chmod 0750 "${forest_libp2p_path}"
    forest-tool shed key-pair-from-private-key \
      --output "${forest_libp2p_path}/keypair" \
      "{{ forest.libp2p_private_key }}"
fi

forest \
  {{ forest.container_extra_args | join(' ') }} \
  --chain "{{ network }}" \
  --auto-download-snapshot  \
  --save-token {{ forest.container.data_path }}/token \
  --config "{{ forest.container.config_path }}/config.toml"
